.Timer {
  text-align: center;
  min-width: 300px;
  margin: 20px;
  padding: 20px;
}

.Timer-header {
  color: white;
}

.Timer-number {
  font-size: 3em;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  color: white;
}
